/* || General setup */
/* || General setup */
/*
  Color Theme

  /* Color Theme Swatches in Hex */
/**/
.color-theme_kostreski_edward_headshot-1-hex {
  color: #4f5950;
}
.color-theme_kostreski_edward_headshot-2-hex {
  color: #a67f68;
}
.color-theme_kostreski_edward_headshot-3-hex {
  color: #f2d4c2;
}
.color-theme_kostreski_edward_headshot-4-hex {
  color: #8c3737;
}
.color-theme_kostreski_edward_headshot-5-hex {
  color: #0d0d0d;
}
/**/


html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  /*background-color: #a9a9a9;*/
  color: #f2d4c2;
  background-color: #4f5950;
}


body {
  width: 70%;
  /*
  min-width: 800px;
  */
  margin: 0 auto;
 
}


/* || typography */

h1 {
  font-family: 'Patua One', Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  color: #8c3737;
}

h2,
h3 {
  /*
  font-family: 'Cinzel Decorative', cursive;
  */

  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  color: #8c3737;
}


p,
input,
li,
dd,
dt ,
img{
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  color: #f2d4c2;
}

h1 {
  font-size: 4rem;
  text-align: center;
  /*
  text-shadow: 2px 2px 10px#F2D4C2;
  */
}

h2 {
  font-size: 3rem;
  text-align: center;
}

p,li,dd,dt {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: #0d0d0d;
  padding: 1%;
}

.one{
  display:flex;
  flex-flow: row wrap;
}

.one p{
  display: flex;
  align-items: center;
  justify-content: center;
}

p, .one, .two, .headsection{
  padding: 1%;
}




h1 {
  flex: 5;
  text-transform: uppercase;
}

img {
  max-height: 300px;
  height: inherit;
  width: auto;
}

.headsection img{
  max-height: 150px;

}


@media screen and (max-width: 1000px) {

}